@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --primaryColor: #ff274b;
    --secondaryColor: #f7bcf7;
    --lightColor: #fff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}

.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

span{
    color: var(--primaryColor);
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

h1{
    font-size: 4.65rem;
    margin: 1.7rem;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}

h4{
    font-size: 1.25rem;
    color: var(--secondaryColor);
}

p{
    color: var(--secondaryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

nav{
    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s ease;
}nav ul li a:hover{
    color: var(--primaryColor);
}.btn{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.5s ease;
}.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}
.content{
    flex-grow: 1;
    padding:0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-texts{
    position: relative;
    bottom: 70px;
}

.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-left: 19px;
    transition: 0.5s;
    position: relative;
    top: 50px;
  }
.social-icons a:hover{
    color: var(--primaryColor);
  }

  .home .container-images{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
  }

  .home .container-images img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
  }

  .home .container-images:hover .shape{
    bottom: 40px;
  }

  .home .container-images:hover .pic{
    left: 45%;
  }

  .about{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .about .container-images{
    width: 35%;
  }

  .about .container-images img{
    width: 90%;
  }

  .about .container-texts{
    width: 35%;
  }

  .services{
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
  }

  .text-center{
    text-align: center;
  }

  .box{
    display: flex;
    justify-content: space-between;
  }

  .card{
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    margin: 0 20px;
    text-align: center;
  }

  .card i{
    font-size: 3.12rem;
    color: var(--primaryColor);
    text-align: center;
    margin: 2rem;
  }

  /* .img-pana{
    width: 10%;
  } */ /* لا ده هبد متاخدش ف بالك */

  .skills{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .skills .container-images{
    width: 35%;
  }

  .skills .container-images img{
    width: 90%;
  }